body {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: white;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}



.main-header {
	background-color: #f3f7f9;
	margin-bottom: 59px;
	min-width: 960px;
}

.main-header.inner  {
	margin-bottom: 21px;
}

.main-header-top {
	background-color: #293449;
	display: flex;
	align-items: stretch;
}

section.header-menu {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #293449;
	font-size: 17px;
	line-height: 18px;
	width: 940px;
	height: 42px;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: auto;
	margin-right: auto;
}


.header-info {
	display: flex;
	justify-content: space-between;
	width: 940px;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: auto;
	margin-right: auto;
}

.main-header-menu {
	display: flex;
	justify-content: space-between;
	width: 940px;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: auto;
	margin-right: auto;
}

.index {
	padding-left: 10px;
	padding-right: 10px;
}

.user-interface {
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
}


.user-interface ul {
	list-style: none;
	display: flex;
	width: 298px;
	
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 0;
	margin-top: 46px;
	padding: 0;
}


/* стилизация верхнего логотипа */

h1.header-logo,
h1.header-logo a {
	text-transform: uppercase;
    display: flex;
    height: 41px;
    width: 220px;
    color: white;
    align-items: center;
    justify-content: center;
    padding-top: 1px;
}

h1.header-logo {
	box-shadow: 0 5px 0 0 #b52933;
}

h1.header-logo,
h1.header-logo a {
	background-color: #ee3643;
	font-size: 24px;
	line-height: 24px;
	font-weight: 400;
	color: white;
}

h1.header-logo:hover,
h1.header-logo a:hover {
	background-color: #ca2c37;
}

h1.header-logo:active,
h1.header-logo a:active {
	background-color: #ba2732;
}

/* стилизация верхнего логотипа */

/* стилизация кнопок верхнего меню */

.user-activities {
	list-style: none;
	display: flex;
	align-items: stretch;
	margin: 0;
	padding: 0;
}

.user-activities li {
	display: flex;
	align-items: center;
	height: 42px;
}



.order {
	
}

.order a {
	display: flex;
	color: white;
	background-color: #63a63e;
	padding-right: 21px;
	padding-left: 21px;
	height: 100%;
	align-items: center;
}

.order a:hover {
	background-color: #5fbb2d;
}

.order a:active {
	background-color: #518534;
	color: white;
}



.basket a::before {
	content: "";
	position: absolute;
	left: 18px;
    top: 12px;
	width: 15px;
	height: 15px;
	background-image: url(../img/icon-cart.svg);
}

.bookmarks a::before {
	content: "";
	position: absolute;
	left: 15px;
	width: 14px;
	height: 16px;
	background-image: url(../img/icon-bookmark.svg);
}




.user-activities .user-activities-active {
	background-color: #ee3643;
}


.bookmarks a {
	display: flex;
	position: relative;
	height: 100%;
	width: 120px;
	color: white;
	align-items: center;
	padding-right: 28px;
	justify-content: flex-end;
}



.basket a {
	display: flex;
	position: relative;
	height: 100%;
	width: 120px;
	color: white;
	align-items: center;
	padding-right: 30px;
	justify-content: flex-end;
	padding-right: 26px;
    padding-left: 4px;
}





.basket a:hover,
.bookmarks a:hover {
	background-color: #212a3a;
}

.basket a:active,
.bookmarks a:active {
	background-color: #161d29;
}

.header-menu form {
	flex-grow: 1;
	padding: 0;
	margin: 0;
}

.header-menu input {
	position: relative;
	height: 42px;
	width: 100%;
	padding-left: 48px;
	border: none;
	color: white;
	font-size: 17px;
	font-family: 'Cuprum', Arial, sans-serif;
	background-color: transparent;
	background-image: url(../img/icon-search.svg);
	background-repeat: no-repeat;
	background-position: 17px 12px;
}

.header-menu input:hover {
	background-color: #212a3a;
	background-image: url(../img/icon-search.svg);
	background-repeat: no-repeat;
	background-position: 17px 50%;
}

.header-menu input:focus {
	color: black;
	background-color: white;
	background-image: url(../img/icon-search.svg);
	background-repeat: no-repeat;
	background-position: 17px -55px;
}



.header-menu label {
	background-color: #293449;
}

.header-menu label:hover {
	background-color: #212a3a;
}

.enter {
	margin-left: 16px;
}

.enter a {
	align-items: center;
	padding-left: 48px;
	width: 73px;
	background-image: url(../img/icon-login.svg);
	background-repeat: no-repeat;
	background-position: 14px -23px;
}

.enter a:hover {
	color: #ee3643;
	background-position: 14px 14px;
}

.enter a:active {
	color: #c5c5c5;
	background-position: 14px -23px;
}

.registration a {
	width: 150px;
	align-items: center;
	justify-content: center;
}

.user-interface a {
	position: relative;
	display: flex;
	align-items: center;
	height: 45px;
	font-size: 21px;
	line-height: 18px;
	color: black;
	background-color: white;
	border-radius: 3px;
}

.user-interface a:hover {
	color: #ee3643;
}



.user-interface a:active {
	color: #c5c5c5;
}

.main-menu {
	display: flex;
	margin: 0;
	margin-bottom: 60px;
	margin-top: 1px;
	padding: 0;
	justify-content: space-between;
	list-style: none;
	width: 100%;
	background-color: #32425c;
	font-size: 17px;
	line-height: 17px;
}



.main-menu li {
	box-sizing: border-box;
	flex-grow: 1;
}

.main-menu-first-item {
	padding-left: 21px;
}

.main-menu-last-item {
	padding-right: 23px;
}

.main-menu  a {
	display: block;
	padding-top: 20px;
	padding-bottom: 18px;
	text-align: center;
	color: white;
	border-bottom: 5px solid #293449;
}

.main-menu  a:hover {
	background-color: #293449;
}

.main-menu  a:active {
	color: #a8abaf;
	background-color: #1d2739;
	border-bottom-color: #1d2739;
}


.user-name {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: white;
	width: 300px;
	margin-bottom: 1px;
}

.user-name a:first-child {
	padding-left: 45px;
	background-image:
	url(../img/icon-user.svg);
	background-position: 13px -24px;
	background-repeat: no-repeat;
}

.user-name a:hover:first-child {
	background-position: 13px 13px;
}



.user-name a:hover {
	color: black;
}

.user-name a:active {
	color: #c5c5c5;
}

a.logout {
	width: 20px;
	height: 17px;
	background-image: url(../img/icon-logout.svg);
	background-position: 0 100%;
	margin-right: 10px;
}

a.logout:hover {
	background-position: 0 0;
}

a.logout:active {
	background-position: 0 100%
}


.my-orders a,
.my-cabinet a {
	font-size: 16px;
	line-height: 18px;
	height: 30px;
	text-decoration: underline;
	color: #32425c;
	background: none;
}

.my-orders {
	margin-left: 17px;
}

.my-cabinet {
	position: relative;
	margin-right: 72px;
}

.my-cabinet::before {
	display: block;	
	position: absolute;
	content: "";
	width: 4px;
	height: 4px;
	top: 13px;
	left: -17px;
	border-radius: 50%;
	background-color: #32425c;
}



/* стилизация кнопок верхнего меню */



.catalog-content-wrapper {
	display: flex;
	width: 940px;
	margin-left: auto;
	margin-right: auto;
}


section.search-filters{
	margin-right: 20px;
}

section.search-filters form {
	display: flex;
	flex-direction: column;
	width: 220px;
	margin: 0;
	padding: 0;
}

section.goods {
	display: flex;
	flex-direction: column;
}

.goods-list {
	display: flex;
	justify-content: flex-start;
	width: 700px;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
}

.goods-list li {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 218px;
	height: 316px;
	border: 1px solid #e5e5e5;
	margin: 0;
	margin-bottom: 20px;
	margin-right: 20px;
}

.goods-list li:nth-child(3n) {
	margin-right: 0px;
}

.popular-items-slider li {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 218px;
	height: 316px;
	border: 1px solid #e5e5e5;
	margin: 0;
	margin-bottom: 20px;
}



.goods-description {
	margin-top: 60px;
	background-color: #f2f6f8;
	min-height: 261px;
	margin-left: -10px;
	margin-right: -10px;
	min-width: 960px;
}

.goods-description-wrapper {
	display: flex;
	flex-direction: column;
	width: 940px;
	margin-left: auto;
	margin-right: auto;
}

.cart {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: absolute;
	width: 620px;
	height: 349px;
	background-color: white;
	color: black;
	bottom: 500px;
}

.cart-items {
	display: flex;
	height: 112px;
	background-color: #f1f1f1;
}



/* хлебные крошки */

.breadcrumbs {
	display: flex;
	flex-wrap: wrap;
	width: 940px;
	justify-content: left;
	margin-left: auto;
	margin-right: auto;
	padding-left: 0;
	list-style: none;
}

.breadcrumbs li:nth-child(n+2) {
	background-image: url(../img/icon-right-small.svg);
	background-repeat: no-repeat;
	background-position: 0px 50%;
	padding-left: 24px;
	margin-left: -11px;

}

.breadcrumbs a {
	display: block;
	position: relative;
	padding-right: 30px;
	font-size: 13px;
	line-height: 18px;
	color: black;
	text-transform: uppercase;
	font-family: 'PT Sans', Arial, sans-serif;
}

.homepage a {
	font-size: 0;
	background-image: url(../img/icon-home.svg);
	background-repeat: no-repeat;
	background-position: 0px 50%;
	margin-right: 10px;
}

/* Хлебные крошки */

main > h1 {
	width: 912px;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    color: #32425c;
    text-transform: uppercase;
    background-color: #f2f6f8;
    padding-top: 30px;
    padding-bottom: 29px;
    padding-left: 28px;
   
}



.slogan {
	font-style: italic;
	font-size: 16px;
	line-height: 23px;
	color: #ee3643;
	margin-left: 52px;
	margin-top: 49px;
	margin-bottom: 39px;
	max-width: 200px;
}

.contacts {
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: 14px;
    line-height: 24px;
    color: #32425c;
    margin-top: 47px;
    margin-left: 55px;
    margin-right: 44px;
    padding-left: 9px;
}

.contacts-address {
	margin: 0;
	padding: 0;
}

.header-phone {
	position: relative;
	font-size: 21px;
	line-height: 18px;
	color: #ee3643;
	border: 3px solid white;
	border-radius: 3px;
	padding-top: 10px;
	padding-bottom: 11px;
	padding-left: 70px;
	padding-right: 49px;
	margin-bottom: 4px;
}

.header-phone::before {
	content: "";
	position: absolute;
	left: 12px;
	width: 19px;
	height: 19px;
	background-image: url(../img/icon-phone.svg);
}



.promo {
	width: 940px;
	display: flex;
	margin-left: auto;
	margin-right: auto;
	justify-content: space-between;
	margin-bottom: 53px;
}

.promo-left {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;
}

.promo-right {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.promo-item.promo-item--technics a,
.promo-item.promo-item--discount a,
.promo-item.promo-item--delivery a {
	left: 23px;
}

.promo h3 {
	position: absolute;
	left: 23px;
	top: 21px;
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
	padding: 0;
	margin: 0;
}



.promo a {
	color: white;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase; 
	background-color: rgba(0, 0, 0, 0.2);
}

.promo a:hover {
	background-color: rgba(0, 0, 0, 0.3);
}

.promo a:active {
	background-color: rgba(0, 0, 0, 0.4);
}







.promo-item {
	position: relative;
	width: 300px;
	height: 123px;
}

.promo-item a {
	position: absolute;
    width: 135px;
    text-align: center;
    padding-top: 11px;
    padding-bottom: 9px;
    border-radius: 3px;
    left: 25px;
    bottom: 22px;
}

.promo-item--matherials {
	background-image: url(../img/promo_matherials.svg);
	background-position: 213px 31px;
	background-repeat: no-repeat;
	background-color: #ffbf47;
	margin-right: 20px;
	margin-bottom: 20px; 

}

.promo-item--tools {
	background-image: url(../img/promo_tools.svg);
	background-position: 197px 33px;
	background-repeat: no-repeat;
	background-color: #3bbce3;
	margin-bottom: 20px;

}

.promo-item--technics {
	background-image: url(../img/promo_technics.svg);
	background-position: 191px 31px;
	background-repeat: no-repeat;
	background-color: #dc91d8;
	margin-bottom: 20px;
}

.promo-item--discount {
	background-image: url(../img/promo_discount.svg);
	background-position: 196px 26px;
	background-repeat: no-repeat;
	background-color: #8ed78f;
	margin-bottom: 20px;
}

.promo-item--delivery {
	background-image: url(../img/promo_delivery.svg);
	background-position: 191px 32px;
	background-repeat: no-repeat;
	background-color: #ffc047;
}

.promo-slider {
	position: relative;
	width: 620px;
	height: 266px;
    
}

.promo-slider-1 {
	width: 100%;
	height: 100%;
	background-color: #75777a;
    background-image: url(../img/slider_1.jpg);
    background-repeat: no-repeat;
}


.promo-slider-2 {
	width: 100%;
	height: 100%;
	background-color: #75777a;
    background-image: url(../img/slider_2.jpg);
    background-repeat: no-repeat;
}

/* кнопки слайдера */

.promo-slider button {
	position: absolute;
}

.left-slide {
	margin: 0;
	padding: 0;
	width: 22px;
	height: 40px;
	left: 25px;
	top: 114px;
	background: none;
	border: none;
}

.left-slide span {
	font-size: 0;
	display: block;
	width: 22px;
	height: 40px;
	background-color: none;
	background-image: url(../img/icon-left.svg);
}

.right-slide {
	margin: 0;
	padding: 0;
	width: 22px;
	height: 40px;
	right: 20px;
	top: 114px;
	background: none;
	border: none;
}

.right-slide span {
	font-size: 0;
	display: block;
	width: 22px;
	height: 40px;
	background-color: none;
	background-image: url(../img/icon-right.svg);
}

.left-slide-radio {
	margin: 0;
	padding: 0;
	width: 10px;
	height: 10px;
	left: 295px;
	bottom: 36px;
	background-color: white;
	border-radius: 50%;
	border: none;
}

.right-slide-radio {
	margin: 0;
	padding: 0;
	width: 10px;
	height: 10px;
	left: 315px;
	bottom: 36px;
	background-color: white;
	border-radius: 50%;
	border: none;
}

span.promo-slider-active-radio {
	display: block;
	position: relative;
	left: 2px;
	width: 6px;
	height: 6px;
	background-color: #ee3643;
	border-radius: 50%;
}





.promo-slider a {
	display: block;
	position: absolute;
	left: 25px;
	bottom: 22px;
	width: 192px;
	text-align: center;
	padding-top: 11px;
	padding-bottom: 9px;
	padding-left: 3px;
	border-radius: 3px;
	color: white;
	background-color: #ee3643;
	font-size: 14px;
	line-height: 18px;
}

.promo-slider a:hover,
.popular a:hover,
.about-company-contacts a:last-child:hover,
.about-company a:last-child:hover,
.place-order:hover {
	background-color: #ca2c37;
}

.promo-slider a:active,
.popular a:active,
.about-company-contacts a:last-child:active,
.about-company a:last-child:active,
.place-order:active {
	background-color: #ba2732;
}

/* кнопки слайдера */







/* стилизация форм с фильтрами */

.filters-price {
	margin: 0;
    margin-top: 11px;
    padding: 0;
    border: none;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 25px;
    margin-bottom: 13px;
}

.filters-manufacturers legend {
	margin-bottom: 13px;
}

.range-filter {
	width: 220px;
	margin-top: 15px;
}

.range-controls {
	position: relative;
	height: 41px;
	background-color: #f7f3ec;
	border-radius: 3px;
	margin-bottom: 9px;
	padding-top: 39px;
	padding-right: 20px;
	padding-left: 20px;
}

.range-controls .scale {
	height: 2px;
	background-color: #d7dcde;
}

.range-controls .toggle {
	position: absolute;
	top: 31px;
	left: 0;
	height: 2px;
	background-color: #d7dcde;
	width: 4px;
  	height: 4px;
  	padding: 0;
  	border: 8px solid #ffffff;
  	background-color: #ababab;
  	border-radius: 50%;
  	box-shadow: 0 2px 1px 0 #cfcfcf;
  	cursor: pointer;
}

.range-controls .toggle-min {
	left: 20px;
}

.range-controls .toggle-max {
	left: 160px;
}

.range-controls .bar {
	width: 85%;
  	height: 2px;
 	background: #00ca74;
}

.price-controls {
	display: flex;
	align-items: center;
	justify-content: space-between;
  	font-size: 0;
}

.price-controls input {
	width: 95px;
	height: 36px;

    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 17px;
    line-height: 18px;
    text-align: center;
    border: none;
    border-radius: 3px;
    background-color: #f7f3ec;
    box-sizing: border-box;
    padding-bottom: 4px;
}

.min-price input {
	padding-left: 6px
}

.max-price input {
	padding-left: 3px
}

div.price-controls span {
	font-size: 16px;
	line-height: 18px;
	background: none;
	padding: 0;
	margin: 0;
}

.price-controls label {
 	display: inline-block;
 	vertical-align: center;
  	font-size: 0px;
}

.search-filters span {
	display: flex;
	align-items: center;
	padding-left: 19px;
	height: 38px;
	font-size: 13px;
	line-height: 18px;
	color: black;
	font-family: 'PT Sans', Arial, sans-serif;
	background-color: #f7f3ec;
	text-transform: uppercase;
}

.filters-price p {
	font-size: 16px;
	line-height: 18px;
	color: black;
	font-family: 'PT Sans', Arial, sans-serif;
}

.filters-price legend {
	margin-top: 10px;
	margin-bottom: -1px;
}


.filters-price output {
	font-size: 17px;
	line-height: 18px;
	background-color: #f7f3ec;
}

.filters-price input {
	background-color: #f7f3ec;
}

.sorting-options {
	list-style: none;
	display: flex;
	width: 700px;
	height: 38px;
	justify-content: space-between;
	align-items: center;
	margin: 0;
	margin-bottom: 20px;
	padding: 0;
}

.sorting-options,
.sorting-options li,
.sorting-options a {
	position: relative;
	color: black;
	text-transform: uppercase;
	background-color: #f7f3ec;
	font-size: 13px;
	line-height: 18px;
	font-family: 'PT Sans', Arial, sans-serif;
}

.sorting-options li:first-child {
	margin-left: 18px;
}

.sorting-options li:nth-child(2) {
	margin-left: 75px;
}


.sorting-options a {
	color: #c5c5c5;
	border-bottom: 1px dotted #ee3643;
}


li.up a,
li.down a {
	font-size: 0;
}

.down,
.up {
	cursor: pointer;
}


.down {
	margin-right: 25px;
}
.up {
	margin-right: -50px;
}

.sorting-options .down::before {
	position: absolute;
	top: 6px;
	right: -9px;
	display: block;
	content: "";
	width: 1px;
	height: 1px;
	border: 5px solid #f7f3ec;
	border-top: 9px solid #c5c5c5;
	border-bottom: 9px solid #f7f3ec;
}

.sorting-options .down:hover::before {
	border-top: 9px solid #231f20;
}

.down.active::before {
	border-top: 9px solid #ee3643;
}

.sorting-options .up::before {
	position: absolute;
	bottom: 6px;
	left: -18px;
	display: block;
	content: "";
	width: 1px;
	height: 1px;
	border: 5px solid #f7f3ec;
	border-top: 9px solid #f7f3ec;
	border-bottom: 9px solid #c5c5c5;
}

.sorting-options .up:hover::before {
	border-bottom: 9px solid #231f20;
}

.up.active::before {
	border-bottom: 9px solid #ee3643;
}


.sorting-options a:hover,
.sorting-options a.active:hover {
	color: black;
	border-bottom: 1px solid #ee3643; 
}

.sorting-options a.active {
	color: #ee3643;
	border-bottom: none;
}

.search-filters legend {
	font-size: 17px;
	line-height: 30px;
	font-weight: 700;
	color: black;
	text-transform: uppercase;
	font-family: 'PT Sans', Arial, sans-serif;
}


.filters-manufacturers,
.filters-supply {
	display: flex;
	flex-direction: column;
	margin: 0;
	margin-top: 3px;
  	padding: 0;
  	border: none;
}

.filters-manufacturers {
	border-bottom: 1px solid #e5e5e5;
	padding-bottom: 5px;
	margin-bottom: 12px;
}

.filters-manufacturers label {
	position: relative;
	font-size: 15px;
	line-height: 20px;
	color: black;
	text-transform: uppercase;
	font-family: 'PT Sans', Arial, sans-serif;
	margin-bottom: 20px;
	padding-left: 34px;
}

.filter-input-checkbox + label::before {
	content: "";
  	position: absolute;
  	left: 0px;
  	width: 27px;
  	height: 23px;
  	background-image: url(../img/checkbox-off.svg);
  	background-repeat: no-repeat;
  	background-position: 0 50%;
  	opacity: 0.8;
}

.filter-input-checkbox:checked + label::before {
  	background-image: url(../img/checkbox-on.svg);
}

.filter-input-checkbox:hover + label::before {
	opacity: 1;
}

.filter-input-checkbox:disabled + label::before {
	opacity: 0.4;
}



.filters-supply label {
	position: relative;
	font-size: 14px;
	line-height: 20px;
	font-family: 'PT Sans', Arial, sans-serif;
	text-transform: uppercase;
	color: black;
	padding-left: 34px;
	margin-bottom: 20px;
}

.filters-supply legend {
	margin: 0;
	padding: 0;
	margin-bottom: 13px;
}

.filter-input-radio + label::before {
	content: "";
  	position: absolute;
  	left: -1px;
  	top: -1px;
  	width: 25px;
  	height: 25px;
  	background-image: url(../img/radio-off.svg);
  	background-repeat: no-repeat;
  	background-position: 0 50%;
  	opacity: 0.8;
}

.filter-input-radio:checked + label::before {
  	background-image: url(../img/radio-on.svg);
}

.filter-input-radio:hover + label::before {
	opacity: 1;
}

.filter-input-radio:disabled + label::before {
	opacity: 0.4;
}



.search-filters input[type="submit"] {
	font-size: 13px;
	line-height: 18px;
	color: black;
	text-transform: uppercase;
}

.submit-button {
	width: 140px;
    padding-top: 10px;
    padding-bottom: 8px;
    background-color: white;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    font-family: 'PT Sans', Arial, sans-serif;
    margin-top: 59px;
}
/* стилизация форм с фильтрами */



/* кнопки карточки товара */

.goods-list-item {
	position: relative;
}

.goods-list-item:hover {
	box-shadow: 0 10px 20px 0px #a9adb5;
}

.goods-list-item img {
	margin-top: 29px;
	margin-bottom: 15px;
}

.goods-list-item:hover .item-links {
	display: block;
}

.item-links {
	position: absolute;
	display: none;
	top: 0;
	left: 0;
	width: 218px;
	height: 164px;
	background-color: white;
	margin: 0;
}

.button-buy,
.button-bookmark {
	display: block;
	width: 135px;
	margin: 0 auto;
	text-align: center;
	padding: 10px 0;
	border: 3px solid #63a63e;
	border-radius: 3px;
}

.button-buy {
	margin-top: 44px;
	border-bottom: none;
	box-shadow: 0px 3px 0px #367315;
}

.button-bookmark {
	margin-top: 10px;
}

.item-links a {
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	color: white;
}

.item-links .button-buy {
	background-color: #63a63e;
}

.item-links .button-buy:hover {
	background-color: #5fbb2d;
	border: 3px solid #5fbb2d;
	border-bottom: none;
}

.item-links .button-buy:active {
	background-color: #518534;
	box-shadow: 0px 3px 0px #518534;
	border: 3px solid #518534;
	border-bottom: none;

}

.item-links .button-bookmark {
	color: #32425c;
	background-color: white;
}

.item-links .button-bookmark:hover {
	border-color: #32425c;

}

.item-links .button-bookmark:active {
	color: #c1c6ce;
	border-color: #c1c6ce;
}

/* кнопки карточки товара */




/* пагинация */

.pagination-list {
	list-style: none;
	display: flex;
	margin: 0;
	margin-top: 32px;
	padding: 0;
}

.pagination-list li{
	margin: 0;
	margin-right: 9px;
}


.pagination-list a {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-left: 15px;
	padding-right: 15px;
	height: 36px;
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: black;
	text-transform: uppercase;
	border: 1px solid #e5e5e5;
	border-radius: 3px;
}

.pagination-list a:hover {
	border-color: #bdc6ca;
}

.pagination-list a:active {
	border-color: #ee3643;
	
}

a.current-page,
a.current-page:hover,
a.current-page:active {
	color: white;
	background-color: #ee3643;
	border-color: #ee3643;
}

a.next-page,
a.previous-page {
	padding-left: 32px;
	padding-right: 32px;
}
 
/* пагинация */

.goods-description h2 {
	font-size: 30px;
	line-height: 24px;
	margin: 0;
	margin-top: 68px;
	margin-bottom: 30px;
	font-weight: 400;
	color: black;
	text-transform: uppercase;
}

.goods-description p {
	font-size: 13px;
	line-height: 24px;
	margin: 0;
	color: black;
	font-family: 'PT Sans', Arial, sans-serif; 
}

.slider-header {
	display: block;
	position: absolute;
	left: 24px;
	top: 26px;
	font-family: 'PT Sans', Arial, sans-serif; 
	font-size: 18px;
	line-height: 27px;
	margin: 0;
	padding: 0;
}

.slider-header b {
	font-family: 'Cuprum', Arial, sans-serif;
	font-size: 36px;
	line-height: 30px;
	font-weight: 700;
	text-transform: uppercase; 
	display: block;
	margin-bottom: 3px;
}


.popular {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #f9f5f0;
	text-transform: uppercase;
	margin-bottom: 19px;
}

.popular h2 {
	font-size: 30px;
	font-weight: 400;
	line-height: 30px;
	margin-left: 28px;
	color: #32425c;
	margin-top: 30px;
	margin-bottom: 30px;
}

.popular a {
	box-sizing: border-box;
    width: 253px;
    text-align: center;
    color: white;
    font-size: 14px;
    line-height: 18px;
    background-color: #ee3643;
    border-radius: 3px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 24px;
    margin-bottom: 0px;
}

.popular-items-slider h3,
.goods-list h3 {
	width: 150px;
	color: black;
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 18px;
	line-height: 20px;
	font-weight: 700;
	margin: 0;
	text-align: center;
}

.old-price {
	display: block;
	margin: 0 auto;
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 17px;
	line-height: 18px;
	font-weight: 700;
	color: #999999;
}

.new-price {
	position: relative;
	display: block;
	margin: 0 auto;
	margin-bottom: 20px;
	margin-left: 42px;
	padding: 10px 33px;
	padding-right: 39px;
    padding-left: 36px;
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 17px;
	line-height: 18px;
	font-weight: 700;
	color: white;
	background-color: #ee3643;
}

.new-price::after {
	content:"";
    position:absolute;
    top:0;
    right:-19px;
    width:0;
    height:0;
    border:19px solid white;
    border-left-color: #ee3643;
}

.new::after {
	position: absolute;
	right: 0px;
	top: 0px;
	content: "";
	width: 60px;
	height: 59px;
	background-image: url(../img/new-flag.png);
}

.new-item::after {
	position: absolute;
	right: -1px;
	top: -1px;
	content: "";
	width: 60px;
	height: 59px;
	background-image: url(../img/new-flag.png);
}


.services {
	background-color: #f4f8f9;
	font-family: 'PT Sans', Arial, sans-serif;
	margin-bottom: 47px;
	margin-left: -10px;
	margin-right: -10px;
	min-width: 960px;
}

.services-wrapper {
	display: flex;
	flex-direction: column;
	width: 940px;
	min-height: 522px;
	margin-left: auto;
	margin-right: auto;
}

.services-wrapper-inner {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 71px;
}


.services form {
	position: relative;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
}

.services form::after {
	content: "";
	position: absolute;
	right: 0px;
    top: -11px;
	width: 30px;
	height: 350px;
	background-image: url(../img/services-shadow.png);
    background-repeat: no-repeat;
    background-position: 100% -33px;
}

.services input[type="radio"] {
	display: none;
}

.about-company {
	display: flex;
	width: 940px;
	justify-content: space-between;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 86px;
}

.about-company-info {
	display: flex;
	flex-direction: column;
}

.about-company-info a {
	display: block;
	width: 220px;
	border-radius: 3px;
	text-align: center;
	padding-top: 11px;
	padding-bottom: 9px;
}

.about-company-info p {
	margin: 0;
	margin-bottom: 25px;
}

.about-company-info p:first-of-type {
	width: 530px;

}


.about-company-info p:last-of-type {
	margin-bottom: 21px;
	width: 425px;
}



.about-company-contacts {
	display: flex;
	flex-direction: column;
	width: 300px;
}

.about-company-contacts  p {
	box-sizing: border-box;
	margin: 0;
	margin-bottom: 31px;
	padding-right: 90px;
}

.about-company-contacts a:last-child {
    display: block;
    box-sizing: border-box;
    width: 300px;
    border-radius: 3px;
    margin-top: 36px;
    padding-top: 11px;
    padding-bottom: 9px;
    padding-left: 64px;
}

.services p,
.about-company p {
	font-family: 'PT Sans', Arial, sans-serif;
	color: black;
	font-size: 13px;
	line-height: 24px;
}

.services p {
	margin: 0;
}

.services-head-paragraph {
	box-sizing: border-box;
	padding-right: 535px;
}

.delivery-header + p {
	padding-right: 355px;
}

.guarantee-header + p {
	padding-right: 250px;
}


.services h2,
.about-company h2 {
	font-size: 30px;
	line-height: 24px;
	font-weight: 400;
	font-family: 'Cuprum', Arial, sans-serif;
	color: black;
	text-transform: uppercase;
}

.about-company h2 {
	margin: 0;
	margin-bottom: 29px;
    margin-top: 35px;
}

.services h2 {
	margin: 0;
	margin-top: 68px;
	margin-bottom: 29px;
}






.services h3 {
	font-size: 36px;
    line-height: 25px;
    font-family: 'Cuprum', Arial, sans-serif;
    color: #32425c;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 32px;
    font-weight: 400;
}

.credit a {
	
	color: white;
	background-color: #ff5357;
	text-transform: uppercase;
	line-height: 18px;
	background-color: #ff5357;
	border-radius: 3px;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 45px;
	padding-right: 45px;
	margin: 0;
}

.credit p {
	margin-bottom: 40px;
}
.delivery,
.guarantee,
.credit {
	width: 630px;
	height: 282px;
	margin-right: -10px;
	background-position: 93% 100%;
}



.delivery {
	background-image: url(../img/delivery.png);
	background-repeat: no-repeat;
	
}

.guarantee {
	background-image: url(../img/guarantee.png);
	background-repeat: no-repeat;
	display: none;
}

.credit {
	background-image: url(../img/credit.png);
	background-repeat: no-repeat;
	display: none;
	
}



/* стилизация кнопок сервиса*/

.services label {
	font-size: 21px;
	line-height: 30px;
	font-weight: 700;
	font-family: 'Cuprum', Arial, sans-serif;
	width: 218px;
	border-top: 1px solid #405069;
	border-bottom: 1px solid #293449;
	padding-left: 22px;
	padding-top: 11px;
	padding-bottom: 17px;
	color: white;
	background-color: #32425c;
}

.services label:hover {
	background-color: #293449;

}

.services label.active {
	color: #32425c;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	background-color: white;
}




/* стилизация кнопок сервиса*/



.about-company a:last-child {
	color: white;
	font-size: 14px;
	line-height: 18px;
	background-color: #ee3643;
	text-transform: uppercase;
}

.about-company-info ul {
	list-style: none;
	margin: 0;
	padding: 0;
	padding-left: 37px;
}

.about-company-info li {
	position: relative;	
	font-size: 18px;
	line-height: 20px;
	color: black;
	margin-bottom: 20px;
}

.about-company-info li:before {
	content: "";
	position: absolute;
	width: 25px;
	height: 2px;
	background-color: #ee3643;
	left: -37px;
    top: 8px;
}

.about-company-info li:last-child {
	margin-bottom: 36px;
}


/* стилизация футера */

.main-footer {
	background-color: #32425c;
	margin-left: auto;
	margin-right: auto;
	min-width: 960px;
}

.footer-links-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center; 
	width: 940px;
	height: 107px;
	margin-left: auto;
	margin-right: auto;
}

.main-footer-wrapper {
	display: flex;
	justify-content: space-between;
	width: 940px;
	height: 193px;
	margin-left: auto;
	margin-right: auto;

}





.copyrights {
	box-sizing: border-box;
	width: 226px;
}

.feedback {
	box-sizing: border-box;
	width: 136px;
}

.developer {
	box-sizing: border-box;
	width: 97px;
}


.footer-links {
	background-color: #293449;
}

.footer-contacts p {
	box-sizing: border-box;
	width: 340px;
	font-size: 18px;
    line-height: 24px;
    margin-top: 32px;
    margin-left: 4px;  
}

.footer-logo {
	display: flex;
	align-items: center;
	justify-content: center;
	vertical-align: middle;
	font-size: 30px;
	line-height: 30px;
	background-color: #ee3643;
	color: white;
	box-shadow: 0 5px 0 0 #b52933;
	width: 220px;
	height: 63px;
}

.footer-navigation,
.footer-navigation-bottom {
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
	margin: 0;	
	margin-top: 36px;
}

.footer-navigation a {
	font-size: 18px;
	line-height: 24px;
	color: inherit;
}

.footer-navigation-bottom a {
	color: #ffd180;
	font-size: 18px;
	line-height: 24px;
}

.footer-navigation a:hover,
.footer-navigation-bottom a:hover {
	text-decoration: underline;
}

.footer-navigation a:active,
.footer-navigation-bottom a:active {
	opacity: 0.5;
	text-decoration: none;
}


.footer-navigation li,
.footer-navigation-bottom li {
	margin-left: 59px;
}

.footer-navigation li:first-child,
.footer-navigation-bottom li:first-child {
	margin-left: 0px;
}

.footer-links {
	font-size: 16px;
	line-height: 18px;
}

.footer-links  a {
	color: #ffd180;
}

.footer-links  a:hover {
	text-decoration: underline;
}

.footer-links  a:active {
	text-decoration: none;
	color: #ee3643;
}



.feedback {
    margin: 0;
    margin-left: 64px;
}

.developer {
	margin-right: 13px;
}

/* стилизация футера */



.popular-items {
	width: 940px;
	display: flex;
	margin-left: auto;
	margin-right: auto;
	flex-direction: column;
}

.popular-items-slider {
	display: flex;
	justify-content: space-between;
	padding-left: 0;
	margin: 0;
	flex-wrap: wrap;
}



.popular-manufacturers {
	width: 940px;
	display: flex;
	margin-left: auto;
	margin-right: auto;
	flex-direction: column;
	margin-bottom: 64px;
}

.popular-manufacturers-list {
	display: flex;
	justify-content: space-between;
	list-style: none;
	padding-left: 0;
	margin: 0;
	flex-wrap: wrap;
}

.popular-manufacturers-list li {
	display: flex;
    justify-content: center;
    align-items: stretch;
    width: 218px;
    min-height: 144px;
    border: 1px solid #e5e5e5;
    margin: 0;
    margin-bottom: 20px;
    vertical-align: middle;
}

.popular-manufacturers-list li:hover {
	box-shadow: 0 10px 20px 0px #a9adb5;
}

.popular-manufacturers-list li:active {
	box-shadow: 0 5px 10px 0px #a9adb5;
	opacity: 0.4;
}

.popular-manufacturers-list a {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
}

/* модальное окно */

.write-us {
	box-sizing: border-box;
	position: fixed;
	left: 50%;
	bottom: 200px;
	margin-left: -310px;
	padding-top: 48px;
	padding-left: 80px;
	padding-right: 80px;
	width: 620px;
	height: 432px;
	border-top: 7px solid #ff5357;
	color: black;
	background: white;
	background-image: linear-gradient(#f4f4f4,#f4f4f4);
	background-repeat: no-repeat;
	background-size: 620px 112px;
	background-position: 0px 320px;
}


.modal-close-button {
	display: block;
	position: absolute;
	right: 8px;
	top: 10px;
	content: "";
	width: 21px;
	height: 21px;
	background-image: url(../img/form-2.svg);
	cursor: pointer;
	font-size: 0;
  	background-color: transparent;
  	border: 0;
}

.map::before,
.cart-add::before {
	display: block;
	position: absolute;
	right: 8px;
	top: 10px;
	content: "";
	width: 21px;
	height: 21px;
	background-image: url(../img/form-2.svg);
	cursor: pointer;
}

.write-us form {
	width: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.write-us label {
	font-size: 18px;
	font-weight: 400;
	line-height: 18px;
	margin: 0;
	padding-bottom: 10px;
	font-family: 'Cuprum', Arial, sans-serif;
}

.write-us input {
	display: inline-block;
    vertical-align: middle;
    width: 200px;
    height: 33px;
    margin: 0;
    margin-top: 9px;
    margin-bottom: 20px;
    padding-left: 15px;
    border-radius: 3px;
    border: 2px solid #dee3e4;
    font-size: 13px;
    line-height: 18px;
    font-family: 'PT Sans', Arial, sans-serif;
    color: #a9a9a9;
}

.write-us textarea {
	height: 100px;
	resize: none;
	font-size: 13px;
	line-height: 18px;
	color: #a9a9a9;
	font-family: 'PT Sans', Arial, sans-serif;
	padding-left: 15px;
	padding-top: 7px;
	border-radius: 3px;
	border: 2px solid #dee3e4;
}

.write-us p {
	margin: 0;
	width: 220px;
	min-height: 65px;
}


.write-us .inputs-wrapper {
	width: 460px;
	display: flex;
	justify-content: space-between;
}

.write-us input[type="submit"] {
	box-sizing: border-box;
    width: 460px;
    height: 38px;
    color: white;
    font-size: 14px;
    line-height: 18px;
    font-family: inherit;
    text-transform: uppercase;
    border-radius: 3px;
    border: none;
    background-color: #ee3643;
    margin-top: 74px;
    padding-right: 15px;
    padding-top: 3px;
}

.map {
	position: fixed;
	box-sizing: border-box;
	width: 940px;
	height: 447px;
	bottom: 357px;
	left: 50%;
	margin-left: -470px;
	background-image: url(../img/map-big.jpg);
	box-shadow: 0 0 10px 5px #c8c6c6;
}


/* модальное окно */

.footer-social-links {
	display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 112px;
    margin-top: 3px;
}


.footer-social-links li {
	font-size: 0;
	line-height: 0;
	margin-right: 4px;
}

.footer-social-links .vkontakte {
	display: flex;
	text-align: center;
	border-radius: 50%;
	background-color: #212a3a;
	background-image: url(../img/vk-icon.svg);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	width: 41px;
	height: 41px;
}


.footer-social-links .facebook {
	display: flex;
	text-align: center;
	border-radius: 50%;
	background-color: #212a3a;
	background-image: url(../img/fb-icon.svg);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	width: 41px;
	height: 41px;
}

.footer-social-links .instagramm {
	display: flex;
	text-align: center;
	border-radius: 50%;
	background-color: #212a3a;
	background-image: url(../img/insta-icon.svg);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	width: 41px;
	height: 41px;
}


.instagramm:hover,
.facebook:hover,
.vkontakte:hover {
	background-color: #ee3643;
}

.cart-add {
	z-index: 10;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	position: fixed;
	left: 50%;
	bottom: 300px;
	margin-left: -310px;
	box-sizing: border-box;
	width: 620px;
	height: 283px;
	border-top: 7px solid #ee3643;
	background: white;
	background-image: linear-gradient(#f4f4f4,#f4f4f4);
	background-repeat: no-repeat;
	background-size: 620px 112px;
	background-position: 0px 165px;
	box-shadow: 0px 20px 30px 0px #a9adb5;
}

.cart-add span {
	color: black;
	position: relative;
	font-size: 30px;
	line-height: 18px;
	margin-left: 181px;
	margin-top: 71px;
	margin-bottom: 72px;
}

.cart-add button {
	box-sizing: border-box;
	width: 219px;
	height: 38px;
	font-size: 14px;
	line-height: 18px;
	border: none;
	border-radius: 3px;
	text-transform: uppercase;
	font-family: 'Cuprum', Arial, sans-serif;
	cursor: pointer;
}

.place-order {
	background-color: #ee3643;
	color: white;
	margin-left: 82px;
}

.continue-shopping {
	background-color: white;
	color: black;
	margin-left: 20px;
}

.cart-add span::before {
	content: "";
	display: block;
	position: absolute;
	left: -99px;
    top: -23px;
	width: 66px;
	height: 66px;
	background-image: url(../img/form-1.svg);
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.modal {
	display: none;
}

.modal-show {
 	display: block;
 	animation: animation-popup 0.5s;
}

.modal-error {
	animation: shake 0.5s;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

@keyframes animation-popup {
  0% {
  	transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.map iframe {
	border: 0;
}